body{
    background-image: url(Img/textura-branca.jpg);
   
 
 }
 
 
 header{
      font-family:calibri;
     font-size:250%;
     padding: 0%;
 
    
 }   
 .container {
     display: flex;
     align-items: center;
 
 
     
 }
 h1{
     color: gray;
 }
 
 
 
 .font{
     text-align: right;
 
 }
 
 
 nav{
    
    position: fixed;
    top: 80px;
    right: 0;
         width: 15%;
         height: 100%;
         font-family: calibri;
         color: gray ;
         width: 15%;
         height: 100%;
         font-size: 20px;    
         
 }
 
 
 
 
 
 .st{
     display: flex;
     align-items: start;
 }
 .nd{
     display: flex;
     align-items: start;
 }
 .th{
     display: flex;
     align-items: start;
 }
 
 
 
 main{
     background-image: url(Img/textura-cinza.jpg) ;
     background-repeat: repeat;
     background-size: 4px;
     width: 80%;
     min-height: 100%;
     font-family: calibri;
     text-align: center;
     margin: 0;
     color: aliceblue;
     padding: 10px;
     font-size: 30px;
     border-style: dotted;
     
 }

table{
    border-style: solid;
    column-span: all;
}


 th{
border-style: solid;



 }

 td{

    border-style: solid;
    font-size: 25px;
 }
 

 caption{
    border-style: solid;
    color: rgb(30,144,255);
    font-weight: bold;
    font-size: 25px;
 }