body{
    background-color: gray;
}

p{
    margin-top: 20px;
    margin-right: 20px;
}

p.am{
    background-color: #FFFF99;
    
    
}

p.az{
    border-style: dotted;
    background-color: #66CCFF;
  }
    
p.v{
    background-color: #99FF66;
    
   }