body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(127, 127, 222);
    margin-top: 15% ;
}

form{
    font-size: 3rem;
    color: rgb(0, 0, 116);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
}

#dataNascimento{
    width: 90%;
    height: 10vh;
    border-radius: 10px;
    color:rgb(0, 0, 116) ;
    border-color: blue;
    margin-right: 5%;
}

#en{
    width: 40%;
    height: 7vh;
    border-radius: 10px;
    color:rgb(0, 0, 116) ;
    border-color: blue;
    margin-right: 5%;
    margin-top: 5%;
}

