body{
    margin: 20%;
    margin-left: 35%;
    margin-top: 10%;
    
    
}

table{
    font-size: 200%  ;
    border-style: groove;
    
    

    
    
}

th{
    border-style: solid;
}
td{
    border-style: solid;
}