
.simples {
    border: 1px solid black;
    border-collapse: collapse;
    margin: 20%;
    margin-left: 35%;
    margin-top: 10%;
    font-size: 150%;
    box-shadow: 0px 0px 10px 5px #00000096;
    
}
.simples:hover{
    box-shadow: 0px 0px 10px 5px #0000009a;
   
    
    
}
caption{
    background-color: #d2ffd2;
    color: rgb(194, 2, 2);
    border:1px solid black;
    border-bottom: transparent;
    font-size: 150%;

}
.simples td{
    border: 1px solid black;
    font-size: 130%;

    
    
    
   }
   th{
    border: 1px solid black;
   }
  